<!-- <p-toast /> -->
<a href="dashboard/add">Add new</a>
<table class="w-full my-6">
  <thead class="bg-[#ccc]">
    <tr>
      <th class="p-2 border">STT</th>
      <th class="p-2 border">Name</th>
      <th class="p-2 border">Age</th>
      <th class="p-2 border">Address</th>
      <th class="p-2 border">Class Name</th>
    </tr>
  </thead>
  <tbody class="text-center">
    <tr *ngFor="let item of student; index as i">
      <td class="border p-2">{{ i }}</td>
      <td class="border p-2">{{ item.name }}</td>
      <td class="border p-2">{{ item.age }}</td>
      <td class="border p-2">{{ item.address }}</td>
      <td class="border p-2">{{ item.className }}</td>
      <td class="border p-2">
        <a href="/dashboard/edit/{{ item.id }}">Edit</a>
      </td>
      <td class="border p-2">
        <button (click)="onSubmit(item.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
